/*Marshmallow Comet Effect | MIT LICENSE | © Shadow Scientist (https://github.com/Shadow-Scientist)*/
body{
	padding:0;
	margin:0;
	background-color:black;
	width:100vw;
	height:100vh;
}

#container{
	position:absolute;
	left:0;top:0;
	width:100%;
	height:100%;
	overflow:hidden;
}


/*let's try another shot :P*/
#container .particle{
	position:absolute;
	opacity:0.85;
	xborder:4px solid;
	/*now that's the lucky charm =)*/
	transform:translate(0%,0%) scale(0) rotate(0deg);
	animation:ff linear 0.7s var(--i, 0) forwards; /*slowmo*/
	box-shadow:0 0 0 2px rgba(0,0,0,0); /*antialiasing hack, that works :)*/
}

@keyframes ff{
	10%{
		transform:translate(0%,0%) scale(1) rotate(0deg);
	}
	100%{
		transform:translate(var(--shiftX),var(--shiftY)) scale(0) rotate(360deg);
	}
}